Hello {{member_name}}.
<br><br>
The store <a href='{{vendor_home_url}}'>{{vendor_host}}</a> has been debited amount from your <a href='{{operator_billing_url}}'>balance</a> of {{amount}}.

<a href='{{operator_transaction_url}}'>Link to the transaction</a>
<br><br>
Current balance: {{transaction_amount}}
