Hello {{member_name}}!
<br><br>
  You must pay "{{invoice_title}}"
<br>
Current balance: {{account_amount}}
<br>
Payment amount: {{invoice_amount}}
<br><br>
You can pay by the link  <a href='{{system_invoice_url}}'>{{system_invoice_url}}</a>

{% if paid_to_date %}
<br>
  Service paid to: {{paid_to_date}}
{% endif %}
