Здравствуйте, {{member_name}}.
<br><br>
В магазине <a href='{{vendor_home_url}}'>{{vendor_host}}</a> произошло списание средств
  с вашего <a href='{{operator_billing_url}}'>баланса</a> на сумму {{amount}}.

<a href='{{operator_transaction_url}}'>Ссылка на операцию списания</a>
<br><br>
Текущий баланс: {{transaction_amount}}
