Здравствуйте, {{member_name}}!
<br><br>
 Необходимо произвести оплату "{{invoice_title}}"
<br>
Текущий баланс: {{account_amount}}
<br>
Сумма оплаты: {{invoice_amount}}
<br><br>
Оплатить можно по ссылке  <a href='{{system_invoice_url}}'>{{system_invoice_url}}</a>

