Добрый день!
<br> <br>
Меня зовут Ирина, я Ваш персональный менеджер. Поздравляю с открытием интернет-магазина {{vendor_home_url}}
<br> <br>
Для старта продаж вам осталось сделать всего 3 шага.
<br> <br>
Загрузить фотографии и описание товаров <a href='{{operator_products_url}}'>{{operator_products_url}}</a>
<br>
Настроить прием оплаты <a href='{{operator_vendor_payments_url}}'>{{operator_vendor_payments_url}}</a>
<br>
Поделиться ссылкой на свой магазин с потенциальными клиентами с помощью рекламы в Яндекс.Директ или социальных сетях
<br> <br>
С радостью отвечу на Ваши вопросы по телефону <a href="tel:89991950279">+7(999)195 02 79</a>
<br> <br>
или во Вконтакте <a href="https://vk.com/im?media=&amp;sel=-83055199">vk.com/kiiiosk</a>
<br> <br>
--
<br> <br>
С уважением, Ваш менеджер Ирина Евдокимова,
<br> <br>
Прямой звонок: <a href="tel:+7%20999%20195-02-79">+7(999)195 02 79</a>
<br> <br>
Ответы на частые вопросы – <a href="http://feedback.kiiiosk.ru/"> feedback.kiiiosk.ru</a>
<br> <br>
Поддержка в будни с 9:00 до 18:00 – <a href="tel:88007755661"> 8 (800) 77-55-661</a> (звонок бесплатный)
<br>
